/* @media screen and (max-width: 991px) { */
@media screen and (max-width: 767px) {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}

.fa-trash {
  color: red;
}

.fa-edit {
  color: lightseagreen;
}

.btn-border {
  border: none;
  margin-left: 0.5rem;
}
